{% extends "base.html.j2" %}

{% block title %}Заимствования андийских языков - О Проекте{% endblock %}

{% block body %}
<div class="container">
  <h1 class="mt-5">Здесь Анжелика сделает красоту</h1>
  <p class="lead">Но простую - слишком много красоты не надо!</p>
</div>
{% endblock %}  
