{% extends "base.html.j2" %}

{% block title %}Заимствования андийских языков - О Проекте{% endblock %}

{% block body %}
<div class="about">
  <header><strong>О проекте</strong></header>
  <article class="article-botlikh">
    <p class="white">Полевая лингвистика разрабатывает и практикует методы получения информации о неизвестном (или малоизвестном) исследователю языке на основании работы с его носителями. Такие языки называют молоресурсными; они представляют группу языков, развитие информационных технологий для которых является недостаточным. Лексические заимствования очень распространены между языками, в том числе малоресурсными; это явление вызвано межъязыковым взаимодействием и влиянием. На основе идентификации заимствований в языках с ограниченными ресурсами (например, ботлихский) нами был создан словарь, который позволяет в удобном интерфейсе получить краткую информацию о слове из группы андийских языков (перевод, пример, источник заимствования).<br>
      <br>Двуязычный словарь играет очень важную роль во многих межъязыковых областях обработки естественного языка (NLP). Таким образом, особенно важным является разработка инструментов для работы с малоресурсными языками.</br>
      <br>На данный момент словарь работает с такими языками, как: Ботлихский, Ахвахский, Багвалинский, Чамалинский, Тиндинский, Андийский, Каратинский и Годоберинский.</br></p>
  </article>
</div>
{% endblock %}  
