{% extends "base.html.j2" %}

{% block title %}Заимствования андийских языков - Главная{% endblock %}

{% block body %}
<div class="wrapper">
  <header>Словарь заимствований</header>
  <div class="search">
    <input type="text" placeholder="Введите слово" required spellcheck="false">
    <i class="fas fa-search"></i>
    <span class="material-icons">close</span>
  </div>
  <p class="info-text">Введите слово и нажмие Enter, чтобы получить перевод, пример, источник заимствования и т.д.</p>
  <ul>
    <li class="word">
      <div class="details">
        <p>__</p>
        <span>_ _</span>
      </div>
      <i class="fas fa-volume-up"></i>
    </li>
    <div class="content">
      <li class="meaning">
        <div class="details">
          <p>Перевод</p>
          <span>___</span>
        </div>
      </li>
      <li class="example">
        <div class="details">
          <p>Пример</p>
          <span>___</span>
        </div>
      </li>
      <li class="synonyms">
        <div class="details">
          <p>Источник заимствования</p>
          <div class="list"></div>
        </div>
      </li>
    </div>
  </ul>
</div>

<div class="botlikh">
  <header><strong>Ботлихский язык</strong></header>
  <article class="article-botlikh">
    <p class="white"><em>Ботлихский язык</em> распространён в сёлах Ботлих и Миарсо Ботлихского района Дагестана, а также в переселенческих сёлах на равнинной части Дагестана. По данным переписи 2010 года число говорящих на ботлихском всего 206 человек, по оценкам лингвистов (2012) – около 8 000.</p>
  </article>
</div>

<div class="akhvakh">
  <header><strong>Ахвахский язык</strong></header>
  <article class="article-akhvakh">
    <p class="white"><em>Ахвахский язык</em> распространён в нескольких сёлах Ахвахского и Шамильского районов Дагестана, а также в Азербайджане. Общее число говорящих - свыше 20,000 человек, из них в РФ - свыше 18,000.</p>
  </article>
</div>

<div class="bagvalal">
  <header><strong>Багвалинский язык</strong></header>
  <article class="article-bagvalal">
    <p class="white"><em>Багвалинский язык</em> распространён в 6 сёлах Цумадинского и Ахвахского районов, а также в переселенческих сёлах на равнинной части Дагестана. По данным переписи 2010 года, число говорящих около 1,500 человек, по оценкам лингвистов (2004) – свыше 12,000.</p>
  </article>
</div>

<div class="chamalal">
  <header><strong>Чамалинский язык</strong></header>
  <article class="article-chamalal">
    <p class="white"><em>Чамалинский язык</em> распространён в не­сколь­ких сё­лах Цу­ма­дин­ско­го района Да­ге­ста­на, с. Кен­хи Ша­рой­ско­го района Чеч­ни, а так­же в пе­ре­се­лен­че­ских сё­лах на рав­нин­ной час­ти Да­ге­ста­на. По дан­ным пе­ре­пи­си 2010 года, чис­ло го­во­ря­щих 500 человек, од­на­ко, по оцен­кам ис­сле­до­ва­те­лей, оно со­став­ля­ет около 19,000.</p>
  </article>
</div>

<div class="tindi">
  <header><strong>Тиндинский язык</strong></header>
  <article class="article-tindi">
    <p class="white"><em>Тиндинский язык</em> распространён в не­сколь­ких сё­лах Цу­ма­дин­ско­го района Да­ге­ста­на, а так­же в пе­ре­се­лен­че­ских сё­лах на рав­нин­ной час­ти. Чис­ло го­во­ря­щих около 2,200 чел. (согласно пе­реписи 2010 года).</p>
  </article>
</div>

<div class="andi">
  <header><strong>Андийский язык</strong></header>
  <article class="article-andi">
    <p class="white"><em>Андийский язык</em> распространён в не­сколь­ких сё­лах Ботлихского района Дагестана, а также в переселенческих сёлах на равнинной части Дагестана. По данным переписи 2010, число говорящих на андийском языке - 5,800 человек, по оценкам лингвистов (2015) – около 30,000.</p>
  </article>
</div>

<div class="karata-tukita">
  <header><strong>Каратинский язык</strong></header>
  <article class="article-karata-tukita">
    <p class="white"><em>Каратинский язык</em> распространён в не­сколь­ких сё­лах Ахвахского района, в селе Нижнее Инхело Ботлихского района и в селе Сиух Хасавюртовского района Дагестана. По данным переписи 2010, число говорящих со­став­ля­ет 255 чел, по оценкам лингвистов (2001) – свыше 20,000.</p>
  </article>
</div>

<div class="godoberi">
  <header><strong>Годоберинский язык</strong></header>
  <article class="article-godoberi">
    <p class="white"><em>Годоберинский язык</em> распространён в не­сколь­ких сё­лах Годобери Гунибского района и Зибирхали Ботлихского района Дагестана. Число говорящих, по данным переписи 2010, составляет 128 человек, по различным оценкам общее число го­во­ря­щих – от 2,500-4,000 чел.</p>
  </article>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}""></script>
{% endblock %}  
